{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HR Лендинг</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">HR Лендинг</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Домой</a></li>
          <li><a class="nav-link scrollto" href="#about">Наша компания</a></li>
          {% if contacts|length > 0 %}
              <li><a class="nav-link scrollto" href="#contacts">Контакты</a></li>
          {% endif %}
          {% if vacancy|length > 0 %}
              <li><a class="nav-link scrollto" href="#vacancyes">Вакансии</a></li>
          {% endif %}
          <li><a class="nav-link   scrollto" href="#contact">Присоединиться к нам</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Присоединись к нам!</h1>
          <h2>Стань частью хорошей, сплочённой команды!</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            {% if company.image %}
            <img src="{{ company.image.url }}" class="img-fluid animated" alt="">
            {% else %}
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
            {% endif %}
        </div>
      </div>
    </div>

  </section>

  <main id="main">

    <section id="about" class="about">
      <div data-aos="fade-up">

        <div class="section-title">
            <h2>{{ company.name }}</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" style="margin: auto;">
            <p>
                {{ company.description }}
            </p>
          </div>
        </div>

                
      </div>
    </section>

    {% if contacts|length > 0 %}
    <section id="contacts" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контакты</h2>
          <p>Вы можете связаться в наших филиалах по номерам телефона, email или придти в наш уютный офис.</p>
        </div>

        <div class="row">
        {% for contact in contacts %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100"  style="margin: auto;">
            <div class="box">
            <h3>{{ contact.title }}</h3>
              <div class="address">
                  <h5><i class="bi bi-geo-alt"></i>{{ contact.adress }}</h5>
              </div>
              <div class="address">
                  <h5><i class="bi bi-phone"></i>{{ contact.phone }}</h5>
              </div>
              <div class="email">
                  <h5><i class="bi bi-email"></i>{{contact.email }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section><!-- End Pricing Section -->
    {% endif %}

    {% if vacancy|length > 0 %}
        <section id="vacancyes" class="why-us section-bg">
        <div class="section-title">
            <h2>
                Вакансии
            </h2>
        </div>
          <div class="container-fluid" data-aos="fade-up">

            <div class="row" style="margin-left: 20%; margin-right: 20%;">
                <div>
                {% for v in vacancy %}
                    <div class="content">
                        <h3>{{ v.name }}</h3>
                    </div>

                    <div class="accordion-list">
                    <h3>
                        <label>
                            Заработная плата:
                        </label>
                        <span>{{ v.salary }}</span>
                    </h3>
                      <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                        <p>
                        {{ v.description }}
                        </p>
                      </div>
                    </div>
                {% endfor %}

              </div>
            </div>

          </div>
        </section>
    {% endif %}

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Присоединиться к нам</h2>
          <p>
            Пожалуйста, заполните форму кандидата с указанием вакансии и по желанию прикрепити Ваше резюме.<br>
            Мы с Вами обязательно свяжемся позже.
          </p>
        </div>

          <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form method="POST" class="php-email-form" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">ФИО:</label>
                  <input type="text" name="full_name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Email:</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Телефон:</label>
                  <input type="phone" class="form-control" name="phone" id="email" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Вакансия:</label>
                  <select name="vacancy" class="form-select" required>
                      <option style="font-size: 14px; color: #212529;" value=""> --Выберите вакансию </option>
                  {% for v in vacancy %}
                      <option style="font-size: 14px; color: #212529;" value="{{ v.id }}">{{ v.name }} </option>
                  {% endfor %}
                  </select>
                </div>
            </div>
              <div class="form-group">
                <label for="name">Описание</label>
                <textarea class="form-control" name="comment" rows="10" required></textarea>
              <div class="mb-3">
                  <label for="formFile" class="form-label">Прикрепить резюме:</label>
                  <input name="file" class="form-control" type="file" id="formFile" accept=".pdf, .doc, .docx">
             </div>
              <div class="text-center"><button type="submit" data-toggle="modal" data-target="#exampleModal">Отправить отклик</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
  </main>

    <div id="cvSend" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Отправка отклика</h5>
          </div>
          <div class="modal-body">
              <p>
                {% if saved %}
                    Спасибо! Отклик успешно отправлен!
                {% else %}
                    Не удалось отправить отклик. Пожалуйста, попробуйте ещё раз
                {% endif %}
              </p>
          </div>
          <div class="modal-footer">
            <button onclick="closeCvSend()" type="button" class="btn btn-primary">Ок</button>
          </div>
        </div>
      </div>
    </div>

  <div id="preloader"></div>
  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script' %}>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript">
      {% if saved != None %}
        $(document).ready(function() {
            $('#cvSend').modal('show');
        });
     {% endif %}
  </script>
  <script>
      function closeCvSend() {
         $("#cvSend").modal('hide');
      }
  </script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
